DTD/Ejercicio3 DTD.dtd

<!DOCTYPE lista [
    <!ELEMENT lista (alumno, asignatura)*>
    <!ELEMENT alumno (nombre, apellidos)*>
        <!ATTLIST alumno id CDATA #IMPLIED>
    <!ELEMENT nombre (#PCDATA)>
    <!ELEMENT apellidos (#PCDATA)>
    <!ELEMENT asignatura (dia, hora)*>
        <!ATTLIST asignatura codigo CDATA #IMPLIED>
    <!ELEMENT dia (#PCDATA)>
    <!ELEMENT hora (CDATA)>
]>